# make dataframe for amenities and clean the data  
### Import libraries and data

In [1]:
import os
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',100)

all_data = pd.read_csv("Listings.csv")
all_data.head(1)

/Users/felixleonard/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood,district,city,latitude,longitude,property_type,room_type,accommodates,bedrooms,amenities,price,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,f,Buttes-Montmartre,NaN,Paris,48.88668,2.33343,Entire apartment,Entire place,2,1.0,"[""Heating"", ""Kitchen"", ""Washer"", ""Wifi"", ""Long...",53,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

# Get the column amenities and delet the last character

In [2]:
all_data2=all_data["amenities"].str[:-1]
all_data2.head(2)

0    ["Heating", "Kitchen", "Washer", "Wifi", "Long...
1    ["Shampoo", "Heating", "Kitchen", "Essentials"...
Name: amenities, dtype: object

In [3]:
amenities= all_data2.str.split(',', expand=True)
amenities.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88
0,"[""Heating""","""Kitchen""","""Washer""","""Wifi""","""Long term stays allowed""",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [4]:
 for i in range(89):
        amenities[i]= amenities[i].str[2:-1]
amenities.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88
0,Heating,Kitchen,Washer,Wifi,Long term stays allowed,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

# Get unique values in all columns

In [5]:
unique_values = set()
for col in amenities:
    unique_values.update(amenities[col])

In [6]:
unique_values1= pd.DataFrame(list(unique_values))

# Count how many times each unique value

In [7]:
#créer table avec les valeurs uniques et le compte de ces valeurs 
count=amenities.apply(pd.value_counts)

In [8]:
#insérer la colonne sum_count et additioner les valeurs 
count.insert(loc=0, column='sum_count', value=count.sum(axis=1))

In [9]:
#trier les valeurs du plus grand au plus petit
count.sort_values("sum_count", axis = 0, ascending = False,
                 inplace = True, na_position ='last')

In [10]:
#display the most recurent
count2=count["sum_count"]
count2

Wifi                             260090.0
Essentials                       253532.0
Long term stays allowed          241054.0
Kitchen                          240923.0
TV                               213037.0
                                   ...
Integrated refrigerator               1.0
Intermarket  shampoo                  1.0
Intermarket & Dove  body soap         1.0
Irish Spring body soap                1.0
yves rocher body soap                 1.0
Name: sum_count, Length: 3308, dtype: float64

In [11]:
# count2 wasn't a dataframe anymore and the names of amenities was the index 
count3=count2.to_frame().reset_index()
count3

                              index  sum_count
0                              Wifi   260090.0
1                        Essentials   253532.0
2           Long term stays allowed   241054.0
3                           Kitchen   240923.0
4                                TV   213037.0
...                             ...        ...
3303        Integrated refrigerator        1.0
3304           Intermarket  shampoo        1.0
3305  Intermarket & Dove  body soap        1.0
3306         Irish Spring body soap        1.0
3307          yves rocher body soap        1.0

[3308 rows x 2 columns]

# use a list of strings (count3["index"]) to replace the values in df if it contains what is in count3["index"]
## use 50 first values 
## replace with the value in count3

In [12]:
# use the index to clean the data, maybe use the 50 first amenities to clean the rest with .contain fonction

for y in range (50):
    count3["index"].iloc[y]
    for i in range(1,89):
        amenities.loc[amenities[i].str.contains(count3["index"].iloc[y], case=False,na=False) ,i ]= count3["index"].iloc[y]

# Clean some more values

In [13]:
#clean the data 
#Change if contain "X" replace with X 
for i in range(1,89):
    amenities.loc[amenities[i].str.contains('Paid' and 'parking', case=False,na=False) ,i ]= "Paid parking"

In [14]:
for i in range(1,89):
    amenities.loc[amenities[i].str.contains('Soap', case=False,na=False) ,i ]= "Soap"

In [15]:
for i in range(1,89):
    amenities.loc[amenities[i].str.contains('Free' and 'parking', case=False,na=False) ,i ]= "Free parking"

In [16]:
for i in range(1,89):
    amenities.loc[amenities[i].str.contains('sound' and 'system', case=False,na=False) ,i ]= "Sound system"

# delete duplicate cells in a row
## replace all duplicates in a row with NaN np.nan

In [17]:
mask = amenities.apply(pd.Series.duplicated, 1) & amenities.astype(bool)
amenities=amenities.mask(mask,np.nan)

In [18]:
count=amenities.apply(pd.value_counts)
count.insert(loc=0, column='sum_count', value=count.sum(axis=1))
count.sort_values("sum_count", axis = 0, ascending = False, inplace = True, na_position ='last')
count2=count["sum_count"]
count2.head(50)

Wifi                          261537.0
Essentials                    255385.0
Kitchen                       242426.0
Long term stays allowed       241054.0
TV                            216967.0
Hangers                       211356.0
Dryer                         202339.0
Washer                        190824.0
Iron                          187759.0
Heating                       185081.0
Dedicated workspace           179787.0
Shampoo                       174439.0
Hot water                     165350.0
Smoke alarm                   156467.0
Air conditioning              143265.0
Free parking                  133702.0
Refrigerator                  124110.0
Dishes and silverware         123394.0
Cooking basics                110255.0
Elevator                      101582.0
Bed linens                    100486.0
Microwave                     100470.0
Fire extinguisher              95920.0
Stove                          94315.0
Coffee maker                   88242.0
Oven                           84265.0
First aid kit                  82295.0
Carbon monoxide alarm          78479.0
Private entrance               70280.0
Extra pillows and blankets     63118.0
Luggage dropoff allowed        56291.0
Host greets you                51314.0
Patio or balcony               50323.0
Lock on bedroom door           47727.0
Pool                           37572.0
Breakfast                      34623.0
Gym                            30376.0
Garden or backyard             29536.0
Shower gel                     23847.0
Lockbox                        20745.0
Room-darkening shades          20251.0
Bathtub                        19149.0
Single level home              18233.0
Hair dryer                     18144.0
Indoor fireplace               17386.0
Building staff                 17051.0
Ethernet connection            16980.0
Crib                           14718.0
BBQ grill                      14040.0
Hot tub                        13148.0
Name: sum_count, dtype: float64

In [19]:
count2
#lenght 934 now instead of 3308 before

Wifi                       261537.0
Essentials                 255385.0
Kitchen                    242426.0
Long term stays allowed    241054.0
TV                         216967.0
                             ...
Massage room                    1.0
Mayfair  refrigerator           1.0
Meditation room                 1.0
Micro onde oven                 1.0
wella conditioner               1.0
Name: sum_count, Length: 934, dtype: float64

# Add Primary Key

In [20]:
#add Listing_id
amenities.insert(loc=0, column='Listing_id', value=all_data["listing_id"])
amenities.head(1)

,Listing_id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88
0,281420,Heating,Kitchen,Washer,Wifi,Long term stays allowed,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [21]:
#how many amenities? 
amenities["count_amenities"]=amenities.count(axis=1)-1
amenities.head()

,Listing_id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,count_amenities
0,281420,Heating,Kitchen,Washer,Wifi,Long term stays allowed,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,5
1,3705183,Shampoo,Heating,Kitchen,Essentials,Washer,Dryer,Wifi,Long term stays allowed,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,8
2,4082273,Heating,TV,Kitchen,Washer,Wifi,Long term stays allowed,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,6
3,4797344,Heating,TV,Kitchen,Wifi,Long term stays allowed,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,5
4,4823489,Heating,TV,Kitchen,Essentials,Dryer,Washer,NaN,Bathtub,Wifi,Elevator,Long term stays allowed,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,10

In [ ]:
#create excel doc
amenities.to_excel('Amenities.xlsx')

In [ ]:
#Create list of unique values
count2.to_excel('unique_values_count.xlsx')