In [25]:
 %lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

# Intro Data

In [1]:
import pandas as pd

#df is data frame 
df = pd.read_csv('pokemon_data.csv')
df.head()

# for excell
#

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [26]:
# show the directory 
%pwd

'/Users/felixleonard/Desktop/data analyse pokemon'

## read data in pandas

In [2]:
# read headers 
print(df.columns)
# read each column

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [3]:
df.loc[df["Type 1"] == "Fire"].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [4]:
df["Total"] = df.iloc[:,4:10].sum(axis = 1)
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [2]:
cols = list(df.columns.values) 
df = df[cols[0:9] + [cols[-1]] + cols[10:12]]
df.head()

NameError: name 'df' is not defined

In [6]:
#df.to_csv('modifiedPokemon.csv', index = False)
df.to_excel('excelModifiedPokemon.xlsx', index=False)

# Filter data

In [7]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,625,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,320,1,False

# Filter Total greater than 500

In [8]:
StrongDf = df.loc[df['Total'] >= 500]
StrongDf.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,625,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,534,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,634,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,634,1,False

# Filter Type 1 is Fire and total is greater than 500 and create a new dataframe

In [9]:
strongFireDf = df.loc[(df['Total'] >= 500) & (df['Type 1'] == 'Fire')]
strongFireDf.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
6,6,Charizard,Fire,Flying,78,84,78,109,85,534,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,634,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,634,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,505,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,555,1,False

### Reset index for strong fire Pokemon dataframe

In [10]:
strongFireDf = strongFireDf.reset_index(drop=True)
#drop = True is to remove the old index column
strongFireDf.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
0,6,Charizard,Fire,Flying,78,84,78,109,85,534,1,False
1,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,634,1,False
2,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,634,1,False
3,38,Ninetales,Fire,NaN,73,76,75,81,100,505,1,False
4,59,Arcanine,Fire,NaN,90,110,80,100,80,555,1,False

# Get names which contains Mega

In [11]:
df.loc[df['Name'].str.contains('Mega')].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,625,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,634,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,634,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,630,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,495,1,False

# Get Names without Mega

In [12]:
df.loc[~df['Name'].str.contains('Mega')]
#      ~ means doesn't equal

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,525,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,309,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,405,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,600,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,600,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,600,6,True

In [13]:
import re 
# re is regular expressions, super useful for filtering things based on textual patterns
# flags = re.I means we don't care about capitalization. 
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,507,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,531,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,600,6,True

# Find Pokemons who begin with PI

In [14]:
# need to import re library 
# ^ tels begin with
# [a-z] we can have character after
# * tels 0 or more character

df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,251,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,349,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,479,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,579,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,320,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,500,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,600,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,205,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,290,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,450,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,314,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,418,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,264,5,False

# Change Name of content in a column with condition

In [15]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] ='Flamer' 
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,625,1,False
4,4,Charmander,Flamer,NaN,39,52,43,60,50,309,1,False

# Change 2 columns at the time

In [16]:
# changing the columns Generation and Legendary if Total is greater than 500, it becomes 'Test value'
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'Test value'
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,525,Test value,Test value
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,625,Test value,Test value
4,4,Charmander,Flamer,NaN,39,52,43,60,50,309,1,False

# Reload an old database

In [17]:
df = pd.read_excel('excelModifiedPokemon.xlsx')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,700,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,600,6,True

# aggregate Statistics Groupby

In [21]:
# mean() makes averages 
stats = df.groupby(['Type 1']).mean()
stats.head()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary,Count
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,378.927536,3.217391,0.000000,1.0
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,445.741935,4.032258,0.064516,1.0
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,550.531250,3.875000,0.375000,1.0
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,443.409091,3.272727,0.090909,1.0
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,413.176471,4.117647,0.058824,1.0

In [24]:
#sorting values of Total descending 
stats.sort_values("Total", ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Total,Generation,Legendary,Count
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,550.531250,3.875000,0.375000,1.0
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,487.703704,3.851852,0.148148,1.0
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,485.000000,5.500000,0.500000,1.0
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,475.947368,3.385965,0.245614,1.0
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,458.076923,3.211538,0.096154,1.0
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,453.750000,3.454545,0.090909,1.0
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,445.741935,4.032258,0.064516,1.0
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,443.409091,3.272727,0.090909,1.0
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,439.562500,4.187500,0.062500,1.0
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,437.500000,3.156250,0.125000,1.0
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,433.458333,3.541667,0.083333,1.0
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,430.455357,2.857143,0.035714,1.0
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,421.142857,3.357143,0.042857,1.0
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,416.444444,3.370370,0.000000,1.0
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,413.176471,4.117647,0.058824,1.0
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,401.683673,3.051020,0.020408,1.0
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,399.142857,2.535714,0.000000,1.0
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,378.927536,3.217391,0.000000,1.0

# How many pokemon per type

In [23]:
# create new column count with the value 1
df['Count'] = 1
# group by type 1 qnd count and display count column only 
df.groupby(['Type 1']).count()['Count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Count, dtype: int64